@mixin stc__input {
  .stc-input {
    /* Variables */
    /* Padding variables */
    --stc-input--padding-x: var(--stc-spacing-m);
    --stc-input--padding-y: var(--stc-spacing-s);

    /* Border radius variables */
    --stc-input--border-radius: var(--stc-border-radius);

    /* Box shadow variables */
    --stc-input--box-shadow: var(--stc-box-shadow);

    /* Disabled background color variables */
    --stc-input--disabled-bg-color: var(--stc-disabled-bg-color);

    /* Disabled text color variables */
    --stc-input--disabled-text-color: var(--stc-disabled-text-color);

    /* Text color variables */
    --stc-input--text-color: var(--stc-text-color);

    /* Transition variables */
    --stc-input--transition: var(--stc-transition);

    background: none;
    border: solid 1px var(--stc-secondary-color);
    border-radius: var(--stc-input--border-radius);
    color: var(--stc-input--text-color);
    display: inline-block;
    font-size: var(--stc-font-size-m);
    margin: 0;
    padding: var(--stc-input--padding-y) var(--stc-input--padding-x);
    transition: var(--stc-transition);
    outline: transparent;
    position: relative;
    width: 100%;

    &::placeholder {
      color: var(--stc-input--disabled-text-color);
      opacity: 0.75;
      font-size: var(--stc-font-size-m);
    }

    /* Hover */
    &:hover {
      border-color: var(--stc-primary-color);
    }

    /* Focus */
    &:focus,
    &:focus-within {
      border-color: var(--stc-primary-color);
      box-shadow: var(--stc-input--box-shadow);
    }

    /* Disabled */
    &:disabled {
      background-color: var(--stc-input--disabled-bg-color);
      border-color: var(--stc-secondary-color);
      color: var(--stc-input--disabled-text-color);
      cursor: not-allowed;
    }

    /* Handle sizes */
    &.stc-input-size--small {
      font-size: var(--stc-font-size-s);
      padding: calc(0.8 * var(--stc-input--padding-y))
        calc(0.8 * var(--stc-input--padding-x));

      &::placeholder {
        font-size: var(--stc-font-size-s);
      }

      .stc-input__step-buttons {
        gap: 0px;
        .stc-input__step-button {
          height: 7px;
          svg {
            width: 0.5rem;
          }
        }
      }
    }

    &.stc-input-size--large {
      font-size: var(--stc-font-size-l);
      padding: calc(1.4 * var(--stc-input--padding-y))
        calc(1.4 * var(--stc-input--padding-x));

      &::placeholder {
        font-size: var(--stc-font-size-l);
      }

      .stc-input__step-buttons svg {
        width: 1rem;
      }
    }

    &.stc-input--borderless {
      border: none;
    }

    /* Hide arrow icons on number input */
    &[type="number"]::-webkit-inner-spin-button,
    &[type="number"]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      margin: 0;
    }

    &.stc-input__wrapper {
      display: flex;
      gap: var(--stc-spacing-s);

      input {
        border: none;
        padding: 0;
        font-size: inherit;
        background: none;
        width: 100%;

        &:focus {
          box-shadow: none;
          outline: none;
        }

        /* Handle hidden arrows on wrapped inputs */
        &[type="number"]::-webkit-inner-spin-button,
        &[type="number"]::-webkit-outer-spin-button {
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
          margin: 0;
        }
      }

      .stc-input__prefix,
      .stc-input__suffix,
      .stc-input__step-buttons {
        font-size: inherit;
        padding: 0;
        margin: 0;
      }
    }

    .stc-input__step-buttons {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      gap: 1px;
      align-items: center;
      max-width: min-content;
    }

    .stc-input__step-button {
      background: none;
      border: none;
      border-radius: var(--stc-border-radius);
      color: var(--stc-text-color);
      cursor: pointer;
      display: flex;
      justify-content: center;
      height: 8px;
      padding: 2px;
      transition: var(--stc-transition);

      &:hover {
        background-color: var(--stc-disabled-bg-color);
        color: var(--stc-white);
      }

      &:disabled {
        background-color: var(--stc-disabled-bg-color);
        color: var(--stc-disabled-text-color);
        cursor: not-allowed;
      }

      svg {
        width: 0.75rem;
        height: auto;
      }
    }
  }
}
