@mixin stc__pagination {
  .stc-pagination {
    display: flex;
    align-items: center;
    row-gap: var(--stc-spacing);
    list-style: none;
    padding: 0;
    margin: 0;

    * {
      margin-right: 0.2rem;
    }

    *:last-child {
      margin-right: 0;
    }

    .stc-pagination__ellipsis {
      font-size: var(--stc-font-size-m);
    }

    .stc-pagination__total {
      font-size: var(--stc-font-size-m);

      &.stc-pagination__total--right {
        margin-left: 0.5rem;
      }

      &.stc-pagination__total--left {
        margin-right: 0.5rem;
      }
    }

    &.stc-pagination-size--small {
      .stc-pagination__ellipsis,
      .stc-pagination__total {
        font-size: var(--stc-font-size-s);
      }
    }

    &.stc-pagination-size--large {
      .stc-pagination__ellipsis,
      .stc-pagination__total {
        font-size: var(--stc-font-size-l);
      }
    }

    &.stc-pagination--disabled {
      .stc-pagination__ellipsis,
      .stc-pagination__total {
        color: var(--stc-disabled-text-color);
      }
    }
  }
}
